@{
    ViewBag.Title = "Footer";
}
    <footer style="background-color: #deded5;">
        <div class="container p-4">
            <div class="row">
                <!-- Footer Content -->
                <div class="col-lg-6 col-md-12 mb-4">
                    <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">Footer Content</h5>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                        molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                        voluptatem veniam, est atque cumque eum delectus sint!
                    </p>
                </div>

                <!-- Links Section -->
                <div class="col-lg-3 col-md-6 mb-4">
                    <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">Links</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1">
                            <a href="#!" style="color: #4f4f4f;">Frequently Asked Questions</a>
                        </li>
                        <li class="mb-1">
                            <a href="#!" style="color: #4f4f4f;">Delivery</a>
                        </li>
                        <li class="mb-1">
                            <a href="#!" style="color: #4f4f4f;">Pricing</a>
                        </li>
                        <li>
                            <a href="#!" style="color: #4f4f4f;">Where we deliver?</a>
                        </li>
                    </ul>
                </div>

                <!-- Contact Info Section -->
                <div class="col-lg-3 col-md-6 mb-4">
                    <h5 class="mb-1" style="letter-spacing: 2px; color: #818963;">Contact Info</h5>
                    <table  style="color: #4f4f4f; border-color: #666; background-color: #deded5 ">
                        <tbody>
                            <tr>
                                <td>Email:</td>
                                <td><a href="mailto:info@example.com" style="color: #4f4f4f;">info@example.com</a></td>
                            </tr>
                            <tr>
                                <td>Helpline 1:</td>
                                <td><a href="tel:+1234567890" style="color: #4f4f4f;">+1 234 567 890</a></td>
                            </tr>
                            <tr>
                                <td>Helpline 2:</td>
                                <td><a href="tel:+0987654321" style="color: #4f4f4f;">+0 987 654 321</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © @DateTime.Now.Year Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">E.cart.com</a>
        </div>
    </footer>


